In [2]:
import jqdatasdk
username = input('Please input your username (phone number):')
password = input('Input your pass word:')
jqdatasdk.auth(username, password)
query_count = jqdatasdk.get_query_count()
print('spare / total: {} / {}'.format(query_count['spare'], query_count['total']) )

auth success
spare / total: 999919 / 1000000

In [13]:
ori_code = ['sz300800', 'sz300805']
target = jqdatasdk.normalize_code(ori_code) # 'sz300805'
default_fields = ['open','low','high','close','volume','factor']
fields_info = ['']

In [15]:
d = jqdatasdk.get_price(target, start_date="2019-11-21", end_date="2019-12-01", fields=default_fields, fq='post')

C:\Users\yanzhaoyi\Miniconda3\envs\quant\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

In [16]:
d

         time         code   open    low   high  close     volume  factor
0  2019-11-21  300800.XSHE  76.21  74.30  78.48  77.35  3793708.0     1.0
1  2019-11-22  300800.XSHE  76.66  73.82  77.33  74.55  3427203.0     1.0
2  2019-11-25  300800.XSHE  74.50  69.88  74.80  70.06  3317971.0     1.0
3  2019-11-26  300800.XSHE  69.80  68.20  71.37  69.15  2277053.0     1.0
4  2019-11-27  300800.XSHE  68.55  67.13  69.97  69.91  1974267.0     1.0
5  2019-11-28  300800.XSHE  69.36  68.30  69.86  68.30  1705000.0     1.0
6  2019-11-29  300800.XSHE  67.90  67.06  69.96  69.78  2395945.0     1.0
7  2019-11-21  300805.XSHE  12.24  12.24  14.69  14.69   152490.0     1.0
8  2019-11-22  300805.XSHE  16.16  16.16  16.16  16.16    31316.0     1.0
9  2019-11-25  300805.XSHE  17.78  17.78  17.78  17.78    40409.0     1.0
10 2019-11-26  300805.XSHE  19.56  19.56  19.56  19.56    84399.0     1.0
11 2019-11-27  300805.XSHE  21.52  21.52  21.52  21.52   195742.0     1.0
12 2019-11-28  300805.XSHE  23.67  23.67  23.67  23.67   302487.0     1.0
13 2019-11-29  300805.XSHE  26.04  26.04  26.04  26.04   291117.0     1.0

In [28]:
out = []
for k, ori_k in zip(target, ori_code):
    d_k = d[d['code'] == k]
    d_k.loc[:,'code'] = ori_k
    d_k.rename(columns={'code':'symbol'}, inplace=True)
    out.append(d_k)

SyntaxError: invalid syntax (Temp/ipykernel_13336/3915920683.py, line 4)

In [27]:
out[1]

         time         code   open    low   high  close    volume  factor
7  2019-11-21     sz300805  12.24  12.24  14.69  14.69  152490.0     1.0
8  2019-11-22  300805.XSHE  16.16  16.16  16.16  16.16   31316.0     1.0
9  2019-11-25  300805.XSHE  17.78  17.78  17.78  17.78   40409.0     1.0
10 2019-11-26  300805.XSHE  19.56  19.56  19.56  19.56   84399.0     1.0
11 2019-11-27  300805.XSHE  21.52  21.52  21.52  21.52  195742.0     1.0
12 2019-11-28  300805.XSHE  23.67  23.67  23.67  23.67  302487.0     1.0
13 2019-11-29  300805.XSHE  26.04  26.04  26.04  26.04  291117.0     1.0

In [4]:
d = jqdatasdk.get_price(target, start_date="2019-11-21", end_date="2019-12-01", fields=default_fields, fq='post')
d = d.reset_index()
d.columns = ['date', 'open', 'low', 'high', 'close', 'volume', 'factor']
d['symbol'] = ori_code  # 增加symbol

C:\Users\yanzhaoyi\Miniconda3\envs\quant\lib\site-packages\jqdatasdk\api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

In [5]:
d

        date   open    low   high  close    volume  factor    symbol
0 2019-11-21  12.24  12.24  14.69  14.69  152490.0     1.0  sz300805
1 2019-11-22  16.16  16.16  16.16  16.16   31316.0     1.0  sz300805
2 2019-11-25  17.78  17.78  17.78  17.78   40409.0     1.0  sz300805
3 2019-11-26  19.56  19.56  19.56  19.56   84399.0     1.0  sz300805
4 2019-11-27  21.52  21.52  21.52  21.52  195742.0     1.0  sz300805
5 2019-11-28  23.67  23.67  23.67  23.67  302487.0     1.0  sz300805
6 2019-11-29  26.04  26.04  26.04  26.04  291117.0     1.0  sz300805

In [7]:
d.to_csv(ori_code + ".csv", index=False)

In [14]:
d.columns = ['data', 'open', 'low', 'high', 'close', 'volume', 'factor', 'pre_close']

ValueError: Length mismatch: Expected axis has 7 elements, new values have 8 elements

In [28]:
d.reset_index()

,index,open,low,high,close,volume,factor,pre_close,symbol
0,2019-11-21,12.24,12.24,14.69,14.69,152490.0,1.0,10.20,sz300805
1,2019-11-22,16.16,16.16,16.16,16.16,31316.0,1.0,14.69,sz300805
2,2019-11-25,17.78,17.78,17.78,17.78,40409.0,1.0,16.16,sz300805
3,2019-11-26,19.56,19.56,19.56,19.56,84399.0,1.0,17.78,sz300805
4,2019-11-27,21.52,21.52,21.52,21.52,195742.0,1.0,19.56,sz300805
5,2019-11-28,23.67,23.67,23.67,23.67,302487.0,1.0,21.52,sz300805
6,2019-11-29,26.04,26.04,26.04,26.04,291117.0,1.0,23.67,sz300805
7,2019-12-02,28.64,28.64,28.64,28.64,6265267.0,1.0,26.04,sz300805
8,2019-12-03,28.07,26.66,30.00,26.76,28697294.0,1.0,28.64,sz300805
9,2019-12-04,25.02,24.50,26.70,25.89,19122197.0,1.0,26.76,sz300805
10,2019-12-05,25.90,25.40,26.19,25.58,16032224.0,1.0,25.89,sz300805
11,2019-12-06,25.01,23.68,25.15,23.68,17393597.0,1.0,25.58,sz300805
12,2019-12-09,23.36,22.89,24.10,24.00,13210511.0,1.0,23.68,sz300805
13,2019-12-10,23.68,23.56,24.95,24.60,13169101.0,1.0,24.00,sz300805
14,2019-12-11,24.38,24.22,25.67,24.60,14974487.0,1.0,24.60,sz300805
15,2019-12-12,24.64,23.40,24.91,23.50,11338092.0,1.0,24.60,sz300805
16,2019-12-13,23.80,23.60,25.14,24.45,13262484.0,1.0,23.50,sz300805
17,2019-12-16,24.08,24.08,25.75,25.60,14960681.0,1.0,24.45,sz300805
18,2019-12-17,25.31,24.92,25.68,25.59,12780299.0,1.0,25.60,sz300805
19,2019-12-18,25.41,24.88,26.00,24.99,12251011.0,1.0,25.59,sz300805
20,2019-12-19,25.25,24.28,25.86,24.60,11263466.0,1.0,24.99,sz300805
21,2019-12-20,24.44,23.03,24.67,23.10,11015438.0,1.0,24.60,sz300805
22,2019-12-23,22.21,22.08,22.64,22.10,6456692.0,1.0,23.10,sz300805
23,2019-12-24,22.02,21.80,22.29,22.25,4621412.0,1.0,22.10,sz300805
24,2019-12-25,22.35,22.21,22.88,22.25,5034178.0,1.0,22.25,sz300805
25,2019-12-26,22.35,22.05,24.48,24.48,11443276.0,1.0,22.25,sz300805
26,2019-12-27,25.80,25.10,26.93,26.93,23460809.0,1.0,24.48,sz300805
27,2019-12-30,26.50,24.76,26.51,24.88,18226616.0,1.0,26.93,sz300805
28,2019-12-31,24.17,24.17,27.37,27.37,21971127.0,1.0,24.88,sz300805

In [29]:
d.index

DatetimeIndex(['2019-11-21', '2019-11-22', '2019-11-25', '2019-11-26',
               '2019-11-27', '2019-11-28', '2019-11-29', '2019-12-02',
               '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06',
               '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12',
               '2019-12-13', '2019-12-16', '2019-12-17', '2019-12-18',
               '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24',
               '2019-12-25', '2019-12-26', '2019-12-27', '2019-12-30',
               '2019-12-31'],
              dtype='datetime64[ns]', freq=None)